# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
conda_env/
.env/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Dataset
data/

# Training outputs
outputs/checkpoints/
outputs/logs/

# Optional generated results
outputs/error_cases/

# Model weights
*.pth
*.pt
*.ckpt
*.onnx

# Jupyter
.ipynb_checkpoints/
